
<div class="slide-animate-container">
  <ng-include src="'app/menu.html'"></ng-include>
</div>
<div class="header shadow">
  <h1><span class="font-weight-bold context-menu">Bienvenido a troll<span class="color-b">Eyes</span></span></h1>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">

      <section class="container-posts">

        <div class="card" ng-repeat="fila in pagina">
            <div class="card-body">
              <h3 class="card-title"><a href="#!/producto/view/{{fila.id}}">
                <span class="font-weight-bold">{{fila.titulo}}</span></a></h3>
              <hr>
              <p class="card-text">{{fila.imagen}}</p>
              <h6 class="float-right text-muted" ng-show="post.fecha">
                Fecha: {{post.fecha | stringToDate | date : "dd/MM/yyyy"}}
              </h6>
              <h6 class="card-subtitle mb-2 text-muted">{{fila.etiquetas}}</h6>
            </div>
            <div class="card-body">
              <div class="postfooter">
                <div class="postmeta clearfix">
                    <div class="u-floatLeft">
                        <a href="#!/producto/view/{{fila.id}}">
                          Ir al artículo 
                          <i class="fa fa-angle-right"></i></a>
                      </div>       
                </div>
              </div>
            </div>
          </div>
        </section>

      <nav aria-label="Paginación">
        <ul class="pagination">
          <li class="page-item" ng-class="{'active':(paginaActual==p)}" ng-disabled="p == '...'"
            ng-repeat="p in botonera track by $index">
            <a class="page-link" ng-if="p != '...'" href="#!/home/{{ rppActual }}/{{ p }}">{{p}}</a>
            <span class="page-link" ng-if="p == '...'">{{ p }}</span>
          </li>
        </ul>
      </nav>

    </div>
  </div>
</div>