<ng-include src="'app/menu.html'"></ng-include>
<div class="header shadow">
    <h1><span class="font-weight-bold">Artículos en el carrito</span></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="wrapper">
                <nav class="navbar navbar-light bg-light">
                    <form class="form-inline">
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar" ng-model="word"
                            aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit"
                            ng-click="search()">Buscar</button>
                    </form>
                </nav>
                <table class="table">
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th>Precio</th>
                    </tr>
                    <tr ng-repeat="compra in pagina">
                        <td>{{compra.descripcion}}</td>
                        <td>{{compra.cantidad}}</td>
                        <td>{{compra.precio}}</td>
                    </tr>
                </table>
                <div class="row">
                    <div class="col text-center">
                        <button type="button" class="btn btn-primary" ng-click="comprar()">Comprar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>